$colors-dark: (
	primary: (
		400: hsl(266 30% 50%)
	),
	neutral: (
		300: hsl(0, 0%, 6%),
		400: hsl(0, 0%, 12%),
		500: hsl(0 0 30%),
		600: hsl(0 0 40%),
		700: hsl(0 0 50%),
		800: hsl(0 0 60%),
	),
	text: (
		current: black,
		inverse: white,
		muted: hsl(0, 0%, 65%)
	),
	misc: (
		error: hsl(376 80% 55%),
		warn: hsl(55, 92%, 50%),
		whatsapp: hsl(129, 62%, 44%)
	)
);

$colors-light: (
	primary: (
		400: hsl(266 50% 50%)
	),
	neutral: (
		300: hsl(0, 0%, 8%),
		400: hsl(0, 0%, 12%),
		500: hsl(0 0 30%),
		600: hsl(0 0 40%),
		700: hsl(0 0 50%),
		800: hsl(0 0 60%),
	),
	text: (
		current: white,
		inverse: black,
	),
	misc: (
		error: hsl(376 80% 55%),
		warn: hsl(55, 92%, 50%),
		whatsapp: hsl(142, 70%, 49%)
	)
);

$active-theme: $colors-dark;

@each $colorTuple, $colorValues in $active-theme {
	@each $colorName, $colorValue in $colorValues {
		.clr-#{$colorTuple}-#{$colorName} {
			color: $colorValue;
		}
	}
}
