@use 'sass:color';

@use './colors.scss' as *;

// Options
$option-anim-button-overlay: true;

// Colors
$clr-primary-400: map-get(map-get($active-theme, 'primary'), 400);

$clr-neutral-300: map-get(map-get($active-theme, 'neutral'), 300);
$clr-neutral-400: map-get(map-get($active-theme, 'neutral'), 400);
$clr-neutral-500: map-get(map-get($active-theme, 'neutral'), 500);
$clr-neutral-600: map-get(map-get($active-theme, 'neutral'), 600);
$clr-neutral-700: map-get(map-get($active-theme, 'neutral'), 700);
$clr-neutral-800: map-get(map-get($active-theme, 'neutral'), 800);

$clr-text-current: map-get(map-get($active-theme, 'text'), 'current');
$clr-text-inverse: map-get(map-get($active-theme, 'text'), 'inverse');
$clr-text-muted: map-get(map-get($active-theme, 'text'), 'muted');

$clr-misc-error: map-get(map-get($active-theme, 'misc'), 'error');
$clr-misc-warn: map-get(map-get($active-theme, 'misc'), 'warn');
$clr-misc-whatsapp: map-get(map-get($active-theme, 'misc'), 'whatsapp');

// Global
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

$global-primary-font: 'Rubik';
$global-color-scheme: dark;

$global-background: #121212;
$global-font-size: var(--fs-400);
$global-font-family: $global-primary-font, system-ui;

$border-radius-bevelled: 0.4rem;
$border-radius-max: 100vmax;

$z-index-10: 999;
$z-index-100: 9999;
$z-index-1000: 99999;
$z-index-10000: 999999;

$global-gap: 1rem;

$global-heading-line-height: 1.6;
$global-paragraph-line-height: 1.2;

$global-accent-color: $clr-primary-400;

$global-outline-thickness: 2px;
$global-outline-offset: 3px;

// Container
$container-padding: 2rem;

$container-max-width: 1100px;
$container-max-width-narrow: 900px;
$container-max-width-wide: 1300px;

// Anchor tag
$a-color: $clr-primary-400;

// Button
$button-primary: $clr-primary-400;
$button-muted: $clr-neutral-600;
$button-error: $clr-misc-error;
$button-whatsapp: $clr-misc-whatsapp;

$button-padding: 0.5rem 0.85rem;
$button-padding-tiny: 0.1rem 0.6rem;
$button-padding-small: 0.35rem 0.8rem;
$button-padding-big: 0.6rem 1.2rem;
$button-padding-huge: 0.85rem 1.4rem;

$button-border-radius: $border-radius-bevelled;
$button-border-thickness: 2px;
$button-overlay-brightness: 50%;
$button-hologram-transparency: 0.65;

$buttom-anim-rotate-icon-duration: 1s;
$button-anim-overlay-duration: 0.35s;

// Input
$input-primary: $clr-neutral-400;
$input-primary-neutral: $clr-neutral-500;

$input-padding: 0.475rem 0.8rem;

$input-box-shadow: 0 0 1px 3px;
$input-box-shadow-transparency: 0.5;
$input-border-thickness: 1px;
$input-end-icon-left: 92%;
$input-end-icon-brightness: 55%;
$input-border-color-transition-duration: 244ms;

// Navbar
$navbar-logo-size: 9.75rem;

// Store
$store-grid: 20% auto;
$store-items-grid: repeat(auto-fill, minmax(200px, 1fr));

$filter-button-padding: 0.4rem 1rem;
$filter-button-background: $clr-primary-400;
$filter-button-border: 2px solid transparent;

// Item
$item-box-shadow: -6px 12px 2px 2px hsl(0 0% 0% / 0.4);

$item-disable-anim: false;
$item-hover-scale: 1.02;
$item-hover-translate-y: -0.5rem;
$item-not-hover-scale: 0.98;
$item-not-hover-blur: 2px;

$item-transitions: transform 200ms ease-in-out 1ms, filter 200ms ease-in-out 1ms;

// Card
$card-background-muted: $clr-neutral-400;
$card-secondary-muted: $clr-neutral-500;

// Underline
$underline-border-thickness: 1px;

// Modal
$modal-grid: repeat(2, 1fr);
$modal-max-width: 80vw;

$modal-background-overlay: rgba(0 0 0 / 0.7);
$modal-blur: 4px;

$modal-image-list-max-width: 20rem;
$modal-current-image-size: clamp(14rem, 32vw, 32rem);
$modal-list-image-size: clamp(3rem, 16vw, 4rem);